<!--
  Generated template for the LoginPage page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
    <ion-navbar color="secondary">
        <ion-title>Login</ion-title>
        <ion-buttons end>
            <button ion-button (click)="signUp()" class="light">Sign up</button>
        </ion-buttons>
    </ion-navbar>
</ion-header>

<ion-content padding class="login">
    <button ion-button color="facebook" block class="margin-bottom">Login via Facebook</button>
    <button ion-button color="googleplus" block class="margin-top">Login via Google+</button>

    <div text-center class="margin-top-20 secondary">OR LOGIN USING EMAIL</div>

    <ion-list class="list-form">

        <ion-item class="margin-top">
            <ion-input type="tel" pattern="[0-9\-]+" maxlength=14 placeholder="Email or username" #username (keyup)="maskCPF($event)" max="14"></ion-input>
        </ion-item>

        <ion-item class="margin-top">
            <ion-input type="password" placeholder="Password" #password></ion-input>
        </ion-item>

    </ion-list>

    <button ion-button color="secondary" block (click)="login()">LOGIN</button>

    <div text-center class="margin-top-20 secondary" (click)="forgotPwd()">Forgot password?</div>
</ion-content>