<!--
    Generated template for the MainTabsPage page.

    See http://ionicframework.com/docs/v2/components/#navigation for more info on
    Ionic pages and navigation.
-->




<ion-header>
    <ion-navbar color="primary">
        <ion-title>
            Menus
        </ion-title>
        <button ion-button right menuToggle icon-only>
            <ion-icon name='menu'></ion-icon>
        </button>
    </ion-navbar>
</ion-header>

<ion-tabs tabsPlacement="top" tabsLayout="icon-left" tabsHighlight="true" selectedIndex="0">
    <ion-tab tabTitle="Music" [root]="tabHome"></ion-tab>
    <ion-tab tabTitle="Games" [root]="tabCollections"></ion-tab>
</ion-tabs>