<ion-header>
  <ion-navbar>
  </ion-navbar>
</ion-header>

<ion-content padding>
<ion-list>
        <ion-item class="margin-top" *ngFor="let collection of popularPlaces" [ngStyle]="{'background-image': 'url(' + collection.background + ')'}">
            <div class="item-info">
                <ion-icon class="bookmark-icon" name="bookmark" color="primary" [hidden]="!collection.bookmarked" (click)="addBookMark(collection)"></ion-icon>
                <ion-icon class="bookmark-icon" name="bookmark-outline" color="light" [hidden]="collection.bookmarked" (click)="addBookMark(collection)"></ion-icon>
                <!-- <div class="text-sm light" (click)="goToCollection(collection.id)">
                    {{ collection.num_places }} PLACE &bull; {{ collection.num_bookmarks }} BOOKMARKS
                </div> -->
                <h3 class="light" (click)="goToCollection(collection.id)">{{ collection.name }}</h3>
            </div>
        </ion-item>
    </ion-list>
</ion-content>
