
<ion-menu [content]="content" side="right">
    <ion-header>
        <ion-toolbar>
            <ion-title>Menu</ion-title>
        </ion-toolbar>
    </ion-header>
    <ion-content>
        <ion-list>
            <button ion-item menuClose (click)="account()">
                usuario
            </button>
            <button ion-item menuClose>
                Friends
            </button>
            <button ion-item menuClose>
                Events
            </button>
            <button ion-item menuClose (click)="logout()">
                logout
            </button>
        </ion-list>
    </ion-content>
</ion-menu>

<ion-nav #content [root]="rootPage"></ion-nav>